[submodule "nvim"]
	path = nvim
	url = https://github.com/KarthikKaravatt/nvim
[submodule "wezterm"]
	path = wezterm
	url = https://github.com/KarthikKaravatt/wezterm
[submodule ".glzr"]
	path = .glzr
	url = https://github.com/KarthikKaravatt/.glzr
